<?xml version="1.0"?>
<!--
/**
 * Doku
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://dokucommerce.com/Doku-Commerce-License.txt
 *
 * @category   Doku
 * @package    Doku_RefundRequest
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 Doku Commerce Co. ( http://dokucommerce.com )
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Controller\Adminhtml\System\Config\Save">
        <plugin name="Doku_RefundRequest_Plugin_Validate" type="Doku\RefundRequest\Model\Plugin\Validate" />
    </type>
    <virtualType name="DokuRefundRequestFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DokuRefundRequestDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Doku\RefundRequest\Model\ResourceModel\Request\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DokuRefundRequestFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Doku\RefundRequest\Model\ResourceModel\Request\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">doku_refundrequest</argument>
            <argument name="eventPrefix" xsi:type="string">doku_refundrequest_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">refundrequest_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Doku\Refundrequest\Model\ResourceModel\Request</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="doku_refundrequest_list_data_source" xsi:type="string">Doku\RefundRequest\Model\ResourceModel\Request\Grid\Collection</item>
                <item name="doku_refundrequest_label_data_source" xsi:type="string">Doku\RefundRequest\Model\ResourceModel\Label\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DokuRequestLabelFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DokuRequestLabelDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Doku\RefundRequest\Model\ResourceModel\Label\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DokuRequestLabelFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="Doku\RefundRequest\Model\ResourceModel\Label\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">doku_requestlabel</argument>
            <argument name="eventPrefix" xsi:type="string">doku_requestlabel_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">requestlabel_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Doku\Refundrequest\Model\ResourceModel\Label</argument>
        </arguments>
    </type>
</config>
